<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset "UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Joe's Reviews</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


</head>

<body>
    <div id="wrapper">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Home</a>
                <a class="dropdown-item" href="#">Review Search</a>
                <a class="dropdown-item" href="#">Top Restaurants</a>
                <a class="dropdown-item" href="#">Browse Restaurant List</a>
                <a class="dropdown-item" href="#">About Me</a>
                <a class="dropdown-item" href="#">How to Use This Site</a>
                <a class="dropdown-item" href="#">About Me</a>
            </div>
        </div>

        {{{body}}}


    </div>
</body>

</html>