<div id="browse-page-content" class="content-box grid-container">

    <div id="alphebetical-browse-box" class="browsepage-box">
        <h2 class="content-box-title">Browse Alphabetically</h2>
        <img class="content-img" src="#" alt="Alphabetical Browse Image">
    </div>

    <div id="category-browse-box" class="browsepage-box">
        <h2 class="content-box-title">Browse by Category</h2>
        <img class="content-img" src="#" alt="Category Browse Image">
    </div>

</div>