
    <div id="home-page-content" class="content-box grid-container">
        <div id="featured-restaurant-box" class="homepage-box">
            <h2 class="homepage-box-title">Featured</h2>
            <img href="#" alt="Featured restaurant picture">
        </div>

        <div id="reviews-box" class="homepage-box">
            <h2 class="homepage-box-title">Reviews</h2>
            <img href="#" alt="Reviews picture">
        </div>

        <div id="top-picks-box" class="homepage-box">
            <h2 class="homepage-box-title">Top Picks</h2>
            <img href="#" alt="Top choices picture">
        </div>
        
    </div>